$accent-color: #a9845c;
$primary-color: #b14101;
$secondary-color: #ffd6a8;

$bg-primary: #3b3937;
$bg-secondary: #f3f0ee;
$bg-tertiary: #dadada;

$text-primary: #3b3937;
$text-secondary: #ffffff;
$text-tertiary: #b1b0af;

$fast: 100ms ease-in-out;
$normal: 200ms ease-in-out;
