.showcase {
  margin-bottom: 40px;
  @media screen and (min-width: 960px) {
    margin-bottom: 70px;
  }
  @media screen and (min-width: 1340px) {
    margin-bottom: 90px;
  }
}
.showcase__title {
  text-align: center;
  @media screen and (min-width: 960px) {
    text-align: start;
  }
}
.showcase__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: 960px) {
    flex-direction: row;
    gap: 20px;
  }
}
.showcase__aside {
  user-select: none;
  color: $text-primary;
  fill: $text-primary;
}
.showcase-filter__box {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  @media screen and (min-width: 960px) {
    display: none;
  }
  &.scroll-filter {
    position: fixed;
    margin-bottom: 0;
    bottom: 20px;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 150%);
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    fill: $text-primary;
    transition: transform $normal;
  }
  &.scrolled {
    transform: translate(-50%);
  }
}
.showcase-filter__select {
  outline: none;
  border: 1px solid $bg-tertiary;
  font-size: 14px;
  color: $text-primary;
  font-weight: 700;
  padding: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}
.showcase-aside__list {
  display: none;
  @media screen and (min-width: 960px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 60px;
  }
}
.showcase-filter__btn {
  padding: 9px;
  background: none;
  border: 1px solid $bg-tertiary;
  border-left: none;
}
.showcase-filter__svg {
  max-width: 22px;
  max-height: 22px;
}
.showcase-aside__link {
  font-size: 16px;
  font-weight: 700;
  color: $text-primary;
  transition: color $normal;
  letter-spacing: 1.5px;
  &:hover,
  &:focus {
    color: $primary-color;
  }
}
.aside-filter {
  position: fixed;
  visibility: hidden;
  transform: translateY(100%);
  transition: transform 300ms ease-in-out, visibility $normal;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  background-color: #fff;
  overflow-y: scroll;
  &.open {
    transform: translateY(0);
    visibility: visible;
  }
  @media screen and (min-width: 960px) {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: static;
    visibility: visible;
    transform: translateY(0);
    overflow-y: auto;
  }
}
.filter__header {
  padding: 20px 0 15px;
  border-bottom: 1px solid $bg-tertiary;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  @media screen and (min-width: 960px) {
    display: none;
  }
}
.filter-header__btn {
  display: flex;
  background: none;
  border: none;
  padding: 5px;
  position: absolute;
}
.filter-header-btn__svg {
  max-width: 15px;
  max-height: 15px;
  transform: rotate(90deg);
}
.filter-header__title {
  font-size: 24px;
  font-weight: 700;
  margin: auto;
}
.filter-price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aside__title {
  font-size: 18px;
  font-weight: 700;
}
.price__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:first-child {
    margin-bottom: 5px;
  }
}
.price__text {
  font-size: 13px;
}
.price-text__container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: color $normal, fill $normal;
  &:hover,
  &:focus {
    color: $primary-color;
    fill: $primary-color;
  }
}
.price-text__svg {
  max-width: 5px;
  max-height: 5px;
}
.price__input {
  max-width: 120px;
  font-size: 18px;
  padding: 5px;
  border: $bg-tertiary 1px solid;
  &:first-child {
    margin-right: 10px;
  }
}
.slider__box {
  background-color: $bg-secondary;
  padding: 10px 10px 7px;
  margin-bottom: 30px;
  @media screen and (min-width: 960px) {
    margin-bottom: 0;
  }
}
.slider-range__box {
  position: relative;
  height: 15px;
  margin-bottom: 5px;
}
.slider-track {
  position: absolute;
  width: 100%;
  height: 2px;
  background: $text-primary;
  top: 50%;
}
.slider-range__input {
  appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none;
  z-index: 2;
  &::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid $bg-primary;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
  }
}
.slider-text__box {
  display: flex;
  justify-content: space-between;
}
.filter__box {
  display: flex;
  flex-direction: column;
  gap: 0;
  @media screen and (min-width: 960px) {
    gap: 50px;
  }
}
.filter-info__box {
  padding: 30px 0;
  border-top: 1px solid $bg-tertiary;
  &:last-child {
    border-bottom: 1px solid $bg-tertiary;
    @media screen and (min-width: 960px) {
      border: none;
    }
  }
  @media screen and (min-width: 960px) {
    padding: 0;
    border: none;
  }
}
.filter-title__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.filter__title {
  font-size: 18px;
  font-weight: 700;
}
.filter-title__svg {
  max-width: 15px;
  max-height: 13px;
  margin-right: 2.5px;
  transition: transform 400ms ease-in-out;
  &.rotate {
    transform: rotate(90deg);
  }
}
.filter__list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  transition: max-height 400ms ease-in-out;
  &.hidden {
    max-height: 0;
  }
}
.filter-item__label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.filter-item__check {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid $bg-tertiary;
  background: none;
  cursor: pointer;
  &:checked {
    background-color: $text-primary;
    border: 2px solid $text-primary;
    background-image: url('../images/check.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}
.filter-reset__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: inherit;
  color: $text-tertiary;
  font-size: 18px;
  font-weight: 700;
  fill: $text-tertiary;
  transition: color $normal, fill $normal;
  margin: 30px 0 40px;
  &:hover,
  &:focus {
    color: $primary-color;
    fill: $primary-color;
  }
  @media screen and (min-width: 960px) {
    margin: 0;
  }
}
.reset-btn__svg {
  width: 22px;
  height: 22px;
}

.showcase__list {
  margin: 0 auto 30px;
  display: flex;
  overflow-x: scroll;
  @media screen and (min-width: 960px) {
    overflow-x: auto;
    justify-content: center;
  }
  @media screen and (min-width: 1340px) {
    margin-bottom: 40px;
  }
}
.showcase-item__btn {
  white-space: nowrap;
  color: $text-primary;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px 20px;
  background: none;
  border: 1px solid $bg-tertiary;
  transition: color $normal, border-color $normal;
  @media screen and (min-width: 480px) {
    font-size: 15px;
  }
  @media screen and (min-width: 1340px) {
    padding: 10px 54px;
  }
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
.products__list {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-rows: 1fr;
  gap: 20px;
  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  @media screen and (min-width: 1340px) {
    gap: 40px;
  }
}
.products__item {
  padding: 20px;
  border: 1px solid $bg-tertiary;
}
.products__title {
  color: $text-primary;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
  @media screen and (min-width: 480px) {
    font-size: 17px;
    margin-bottom: 7px;
  }
  @media screen and (min-width: 960px) {
    font-size: 15px;
    margin-bottom: 7px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 18px;
    letter-spacing: 0.18px;
  }
}
.products__price {
  color: $text-primary;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 20px;
  @media screen and (min-width: 480px) {
    font-size: 17px;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 18px;
  }
}
.products__img {
  margin: 0 auto 15px;
  @media screen and (min-width: 480px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1340px) {
    margin-bottom: 33px;
  }
}
.products__link {
  display: block;
  color: $primary-color;
  font-size: 13px;
  font-weight: 700;
  float: right;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 15px;
  }
  transition: color $normal;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.showcase-list__line {
  margin: 70px 0 70px;
  height: 2px;
  background-color: $bg-tertiary;
}
.order-doors {
  max-width: 950px;
}
.order-doors__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.order-doors__text {
  font-size: 16px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
