.showcase {
  margin-bottom: 40px;
  @media screen and (min-width: 960px) {
    margin-bottom: 70px;
  }
  @media screen and (min-width: 1340px) {
    margin-bottom: 90px;
  }
}
.showcase__box {
  display: flex;
  justify-content: space-between;
}
.showcase__aside {
  // max-width: 25vw;
  user-select: none;
  color: $text-primary;
  fill: $text-primary;
}
.showcase-aside__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
}
.showcase-aside__link {
  font-size: 16px;
  font-weight: 700;
  color: $text-primary;
  transition: color $normal;
  &:hover,
  &:focus {
    color: $primary-color;
  }
}
.aside-filter {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.filter-price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aside__title {
  font-size: 18px;
  font-weight: 700;
}
.price__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:first-child {
    margin-bottom: 5px;
  }
}
.price__text {
  font-size: 13px;
}
.price-text__container {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color $normal, fill $normal;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $primary-color;
    fill: $primary-color;
  }
}
.price-text__svg {
  max-width: 5px;
  max-height: 5px;
}
.price__input {
  max-width: 120px;
  font-size: 18px;
  padding: 5px;
  border: $bg-tertiary 1px solid;
  &:first-child {
    margin-right: 10px;
  }
}
.slider__box {
  background-color: $bg-secondary;
  padding: 10px 10px 7px;
}
.slider-range__box {
  position: relative;
  height: 15px;
  margin-bottom: 5px;
}
.slider-track {
  position: absolute;
  width: 100%;
  height: 2px;
  background: $text-primary;
  top: 50%;
}

.slider-range__input {
  appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none;
  z-index: 2;
  &::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid $bg-primary;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
  }
}
.slider-text__box {
  display: flex;
  justify-content: space-between;
}

// .input__container {
//   display: flex;
//   justify-content: space-between;
//   width: 300px;
//   margin-top: 20px;
// }

// .input-box {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .input-box .label {
//   font-size: 14px;
//   color: #555;
//   margin-bottom: 5px;
// }

// .input-box input {
//   width: 100px;
//   text-align: center;
//   border: 1px solid #ccc;
//   padding: 5px;
//   border-radius: 5px;
//   background-color: #eee;
// }

// .showcase {
//   padding-top: 60px;
//   padding-bottom: 60px;

//   @media screen and (min-width: 1340px) {
//     padding-top: 120px;
//   }
// }
// // .showcase__title {
// //   margin-bottom: 15px;
// //   color: $text-primary;
// //   font-family: PermianSerifTypeface;
// //   font-size: 40px;
// //   line-height: 100%;
// //   letter-spacing: -0.4px;

// //   @media screen and (min-width: 960px) {
// //     letter-spacing: -0.52px;
// //     font-size: 52px;
// //   }

// //   @media screen and (min-width: 1340px) {
// //     letter-spacing: -0.64px;
// //     font-size: 64px;
// //     margin-bottom: 30px;
// //   }
// // }
// .showcase__list {
//   margin: 0 auto 30px;
//   display: flex;
//   flex-wrap: wrap;
//   row-gap: 5px;
//   @media screen and (min-width: 1340px) {
//     margin-bottom: 40px;
//   }
// }
// .showcase__item {
//   padding: 10px 20px 8px;
//   border: 1px solid $bg-tertiary;
//   @media screen and (min-width: 1340px) {
//     padding: 10px 54px;
//   }
//   transition: border-color $normal;
//   &:hover,
//   &:focus {
//     border-color: $accent-color;
//     cursor: pointer;
//   }
//   &:hover .showcase__link,
//   &:focus .showcase__link {
//     color: $accent-color;
//   }
// }
// .showcase__link {
//   color: $text-primary;
//   font-size: 13px;
//   letter-spacing: 0.9px;
//   white-space: nowrap;
//   transition: color $normal;

//   @media screen and (min-width: 480px) {
//     font-size: 15px;
//   }
// }
// .products__list {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;

//   @media screen and (min-width: 768px) {
//     flex-direction: row;
//     flex-wrap: wrap;
//   }
// }
// .products__item {
//   padding: 20px 20px 60px;
//   border: 1px solid $bg-tertiary;
//   position: relative;
//   // max-width: 400px;

//   @media screen and (min-width: 768px) {
//     width: calc(45% - 15px);
//   }

//   @media screen and (min-width: 1340px) {
//     width: calc(30% - 20px);
//   }
// }
// .products__title {
//   color: $text-primary;
//   font-size: 15px;
//   font-weight: 500;
//   line-height: 100%;
//   letter-spacing: 0.15px;
//   margin-bottom: 5px;

//   @media screen and (min-width: 480px) {
//     font-size: 17px;
//     letter-spacing: 0.17px;
//     margin-bottom: 7px;
//   }

//   @media screen and (min-width: 1340px) {
//     font-size: 18px;
//     letter-spacing: 0.18px;
//     margin-bottom: 8px;
//   }
// }
// .products__price {
//   color: $text-primary;
//   font-size: 15px;
//   font-weight: 700;
//   letter-spacing: 0.15px;
//   margin-bottom: 32px;

//   @media screen and (min-width: 480px) {
//     font-size: 17px;
//     letter-spacing: 0.17px;
//     margin-bottom: 35px;
//   }

//   @media screen and (min-width: 1340px) {
//     font-size: 18px;
//     letter-spacing: 0.18px;
//     margin-bottom: 33px;
//   }
// }
// .products__img {
//     margin: 0 auto;

//   @media screen and (min-width: 768px) {
//     margin: 0 85px;
//   }

//   @media screen and (min-width: 768px) {
//     margin: 0 auto;
//   }

//   @media screen and (min-width: 1340px) {
//     font-size: 18px;
//     letter-spacing: 0.18px;
//     margin-bottom: 33px;
//   }
// }
// .products__link {
//   display: inline-block;
//   color: $primary-color;
//   font-size: 13px;
//   font-weight: 700;
//   line-height: 140%;
//   letter-spacing: 0.78px;
//   margin-top: 26px;
//   position: absolute;
//   right: 20px;

//   @media screen and (min-width: 768px) {
//     font-size: 14px;
//   }

//   @media screen and (min-width: 1340px) {
//     font-size: 15px;
//     letter-spacing: 0.9px;
//     margin-top: 23px;
//   }
//   transition: color $normal;
//   &:hover,
//   &:focus {
//     color: $accent-color;
//     cursor: pointer;
//   }
// }
// .showcase__btn {
//   margin-top: 20px;
//   border: 1px solid $bg-tertiary;
//   color: $text-primary;
//   font-size: 13px;
//   font-weight: 700;
//   line-height: 140%;
//   letter-spacing: 0.78px;
//   background-color: $text-secondary;
//   width: 100%;
//   padding-top: 17px;
//   padding-bottom: 17px;

//   @media screen and (min-width: 1340px) {
//     font-size: 15px;
//     letter-spacing: 0.9px;
//     padding-top: 20px;
//     padding-bottom: 20px;
//     margin-top: 40px;
//   }
//   transition: color $normal, border-color $normal;
//   &:hover,
//   &:focus {
//     color: $accent-color;
//     border-color: $accent-color;
//     cursor: pointer;
//   }
// }
