<header class="header" header>
  <div class="container header__container">
    <a href="../index.html" class="logo header__logo">
      <svg class="logo__svg">
        <use href="../images/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="../pages/delivery-and-payment.html">Доставка</a></li>
        <li class="nav__item"><a class="nav__link" href="../pages/articles.html">Статті</a></li>
        <li class="nav__item"><a class="nav__link" href="../pages/about-us.html">Про нас</a></li>
        <li class="nav__item"><a class="nav__link" href="../pages/contacts.html">Контакти</a></li>
      </ul>
    </nav>
    <ul class="header__contacts">
      <li class="header-contacts__item">
        <address class="header-contacts__address">
          <a href="mailto:support@sofiadoors.com"
            class="header-contacts__link header-contacts__email">support@sofiadoors.com</a>
        </address>
      </li>
      <li class="header-contacts__item">
        <address class="header-contacts__address">
          <a href="tel:+380000000000" class="header-contacts__link header-contacts__phone">+380 (00) 000-00-00</a>
        </address>
      </li>
    </ul>
    <form action="../pages/catalog.html">
      <button class="header-catalog__btn button" type="submit">КАТАЛОГ</button>
    </form>
    <div class="mobile-btn__box">
      <button class="mobile__btn">
        <svg class="mobile__svg">
          <use href="../images/icons.svg#phone"></use>
        </svg>
      </button>
      <button class="mobile__btn" mobileBtn>
        <svg class="mobile__svg">
          <use href="../images/icons.svg#menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<div class="mobile__container" mobileMenu>
  <ul class="mobile__list">
    <li class="mobile__item"><a href="../pages/delivery-and-payment.html" class="mobile__link">Доставка</a></li>
    <li class="mobile__item"><a href="../pages/articles.html" class="mobile__link">Статті</a></li>
    <li class="mobile__item"><a href="../pages/about-us.html" class="mobile__link">Про нас</a></li>
    <li class="mobile__item"><a href="../pages/contacts.html" class="mobile__link">Контакти</a></li>
  </ul>
  <address class="mobile__address">
    <a href="tel:+380000000000" class="mobile__phone">+380 (00) 000-00-00</a>
  </address>
  <address class="mobile__address">
    <a href="mailto:support@sofiadoors.com" class="mobile__email">support@sofiadoors.com</a>
  </address>
</div>