<header class="header">
  <div class="container header__container">
    <a href="" class="logo header__logo">
      <svg class="logo__svg">
        <use href="../images/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="">Доставка</a></li>
        <li class="nav__item"><a class="nav__link" href="">Статті</a></li>
        <li class="nav__item"><a class="nav__link" href="">Про нас</a></li>
        <li class="nav__item"><a class="nav__link" href="">Контакти</a></li>
      </ul>
    </nav>
    <ul class="header__contacts">
      <li class="header-contacts__item">
        <address class="header-contacts__address">
          <a href="mailto:support@sofiadoors.com" class="header-contacts__link header-contacts__email">support@sofiadoors.com</a>
        </address>
      </li>
      <li class="header-contacts__item">
        <address class="header-contacts__address">
          <a href="tel:+380000000000" class="header-contacts__link header-contacts__phone">+380 (00) 000-00-00</a>
        </address>
      </li>
    </ul>
    <form action="../pages/catalog.html">
      <button class="header-catalog__btn button" type="submit">КАТАЛОГ</button>
    </form>
    <div class="menu-btn__box">
      <button class="header-mobile__btn">
        <svg class="header-mobile__svg">
          <use href="../images/icons.svg#phone"></use>
        </svg>
      </button>
      <button class="header-mobile__btn">
        <svg class="header-mobile__svg">
          <use href="../images/icons.svg#menu"></use>
        </svg>
      </button>
    </div>
    <div class="header-menu__container">
      <ul class="header-menu__list">
        <li class="header-menu__item"><a href="" class="header-menu__link">Доставка</a></li>
        <li class="header-menu__item"><a href="" class="header-menu__link">Статті</a></li>
        <li class="header-menu__item"><a href="" class="header-menu__link">Про нас</a></li>
        <li class="header-menu__item"><a href="" class="header-menu__link">Контакти</a></li>
      </ul>
      <address class="header-menu__address">
        <a href="mailto:support@sofiadoors.com" class="header-menu__email">support@sofiadoors.com</a>
      </address>
      <address class="header-menu__address">
        <a href="tel:+380000000000" class="header-menu__phone">+380 (00) 000-00-00</a>
      </address>
    </div>
  </div>
</header>