<section class="help">
    <div class="container">
      <div class="help__container">
        <img src="../images/help/help-bg.png" alt="interior" class="help__img" />
        <div class="help__content">
          <h2 class="help__title">Потрібна допомога з вибором?</h2>
          <p class="help__desc">
            Наші фахівці із задоволенням допоможуть Вам, залиште свій номер
            телефону!
          </p>
          <form class="help__form">
            <label for="name" class="help__label"></label>
            <input type="text" id="name" name="name" placeholder="Як вас звати?" required class="help__input" />
            <label for="phone" class="help__label"></label>
            <input type="tel" id="phone" name="phone" placeholder="Ваш телефон" required class="help__input" />
            <button type="submit" class="help__btn">
              ЗВ'ЯЗАТИСЯ З НАМИ
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>