<section class="help">
    <div class="container">
      <div class="help__container">
        <img src="../images/help/help-bg.png" alt="interior" class="help__img" />
        <div class="help__content">
          <h2 class="help__title">Потрібна допомога з вибором?</h2>
          <p class="help__desc">
            Наші фахівці із задоволенням допоможуть Вам, залиште свій номер
            телефону!
          </p>
          <form class="help__form">
            <label class="help__label">
              <input type="text" id="name" placeholder="Як вас звати?" required class="help__input" />
            </label>
            <label class="help__label">
              <input type="tel" id="phone" placeholder="Ваш телефон" required class="help__input" />
            </label>
            <button type="submit" class="help__btn button">ЗВ'ЯЗАТИСЯ З НАМИ</button>
          </form>
        </div>
      </div>
    </div>
  </section>