.button {
  border: none;
  background-color: $accent-color;
  font-weight: 700;
  color: $text-secondary;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: background-color $normal;
  &:hover,
  &:focus {
    background-color: #926341;
  }
}
