.articles {
  padding-bottom: 60px;

  @media screen and (min-width: 1340px) {
    padding-bottom: 90px;
    position: relative;
  }
}
.articles__container {
  @media screen and (min-width: 1340px) {
    position: relative;
  }
}
.articles__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1340px) {
    gap: 40px;
  }
}
.articles__item {
  border: 1px solid $bg-tertiary;

  @media screen and (min-width: 768px) {
    width: calc(50% - 10px);
  }

  @media screen and (min-width: 1340px) {
    width: calc(32% - 20px);
  }
}
.articles__img {
  width: 100%;
}
.articles__title {
  color: $text-primary;
  font-family: PermianSerifTypeface;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.4px;
  margin-bottom: 20px;

  @media screen and (min-width: 960px) {
    font-size: 52px;
    letter-spacing: -0.52px;
  }

  @media screen and (min-width: 1340px) {
    font-size: 64px;
    letter-spacing: -0.64px;
    margin-bottom: 40px;
  }
}
.articles__btn {
  border: 1px solid $bg-tertiary;
  color: $text-primary;
  font-size: 13px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.78px;
  background-color: $text-secondary;
  padding: 18px 132px;
  width: 100%;
  margin-top: 20px;

  @media screen and (min-width: 1340px) {
    font-size: 15px;
    letter-spacing: 0.9px;
    padding: 22px 145px;
    position: absolute;
    top: -10px;
    right: 28px;
    max-width: 390px;
  }
  transition: color $normal, border-color $normal;
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
    cursor: pointer;
  }
}
.articles__content {
  padding: 30px;
}
.articles__headline {
  color: $text-primary;
  font-family: PermianSerifTypeface;
  font-size: 19px;
  line-height: 110%;
  letter-spacing: 0.19px;
  margin-bottom: 15px;

  @media screen and (min-width: 960px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1340px) {
    font-size: 21px;
    letter-spacing: 0.21px;
  }
}
.articles__desc {
  color: $text-primary;
  font-size: 11px;
  line-height: 140%;
  margin-bottom: 41px;

  @media screen and (min-width: 1340px) {
    font-size: 12px;
  }
}
.articles__footer {
  display: flex;
  justify-content: space-between;
}
.articles__link {
  color: $primary-color;
  font-size: 11px;
  font-weight: 700;
  border-bottom: 1px solid $primary-color;
  line-height: 140%;

  @media screen and (min-width: 1340px) {
    font-size: 12px;
  }
  transition: color $normal;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.articles__date {
  color: $text-primary;
  font-size: 12px;
  line-height: 140%;
  opacity: 0.6;
}
