.features__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  @media screen and (min-width: 1340px) {
    gap: 40px;
    justify-content: center;
    flex-direction: row;
  }
}
.features__item {
  position: relative;
  max-width: 350px;
  padding-bottom: 35px;
  border-bottom: 1px solid #dadada;

  @media screen and (min-width: 1340px) {
  max-width: 620px;
  padding-bottom: 40px;
  }
}
.features__title {
  margin-top: 25px;
  line-height: 120%;
  font-size: 29px;
  letter-spacing: -0.02em;
  color: #3b3937;

  @media screen and (min-width: 1340px) {
  margin-top: 40px;
  font-size: 36px;
  }
}
.features__desc {
  margin-top: 10px;
  color: #3b3937;
  line-height: 130%;
  margin-bottom: 24px;
  font-size: 13px;

  @media screen and (min-width: 1340px) {
  font-size: 16px;
  margin-top: 19px;
  }
}
.features__link {
  color: #b14101;
  font-size: 13px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.9px;
  position: absolute;
  right: 0;
  
  @media screen and (min-width: 1340px) {
  font-size: 15px;
  letter-spacing: 0.78px;
  }
}
.features__link:hover,
.features__link:focus {
  color: #a9845c;
}
