.help {
  padding-bottom: 60px;

  @media screen and (min-width: 1340px) {
    padding-top: 90px;
    padding-bottom: 100px;
  }
}
.help__container {
  background-color: $bg-secondary;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;

  @media screen and (min-width: 1340px) {
    flex-direction: row;
    align-items: normal;
  }
}
.help__img {
  @media screen and (min-width: 768px) {
    width: 100%;
  }

  @media screen and (min-width: 1340px) {
    width: 80%;
  }
}
.help__content {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 1340px) {
    align-items: normal;
  }
}
.help__title {
  color: $text-primary;
  font-family: PermianSerifTypeface;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: -0.4px;
  max-width: 320px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    max-width: none;
    letter-spacing: -0.42px;
  }

  @media screen and (min-width: 960px) {
    font-size: 52px;
    letter-spacing: -0.52px;
  }

  @media screen and (min-width: 1340px) {
    font-size: 64px;
    letter-spacing: -0.64px;
    margin-top: 90px;
  }
}
.help__desc {
  margin-top: 20px;
  color: $text-primary;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  max-width: 318px;

  @media screen and (min-width: 768px) {
    max-width: none;
  }
  @media screen and (min-width: 1340px) {
    font-size: 22px;
    max-width: 420px;
    margin-top: 30px;
  }
}
.help__form {
  margin-top: 30px;

  @media screen and (min-width: 1340px) {
    margin-top: 60px;
  }
}
.help__box {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (min-width: 1340px) {
    font-size: 22px;
    flex-direction: row;
    gap: 20px;
  }
}
.help__input {
  padding: 20px 90px 22px 23px;
  border: 2px solid $text-secondary;
  color: $text-primary;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.17px;

  @media screen and (min-width: 768px) {
    padding: 18px 400px 20px 21px;
  }

  @media screen and (min-width: 1340px) {
    font-size: 18px;
    letter-spacing: 0.18px;
    padding: 16px 15px 18px 17px;
  }
  transition: color $normal, border-color $normal;
  &:hover,
  &:focus {
    border-color: $accent-color;
    outline: none;
    color: $accent-color;
    cursor: pointer;
  }
}
.help__btn {
  margin-top: 20px;
  color: $text-secondary;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  font-size: 13px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.78px;
  border: 2px solid $accent-color;
  padding: 15px 36px;
  margin-bottom: 25px;
  width: 100%;
  background-color: $accent-color;

  @media screen and (min-width: 1340px) {
    font-size: 15px;
    letter-spacing: 0.9px;
    margin-bottom: 90px;
    width: 55%;
  }
  transition: background-color $normal, color $normal, border-color $normal;
  &:hover,
  &:focus {
    background-color: transparent;
    color: $accent-color;
    border-color: $accent-color;
    cursor: pointer;
    text-shadow: none;
  }
}
