.help {
  margin-bottom: 60px;
  @media screen and (min-width: 1340px) {
    margin: 90px 0 100px;
  }
}
.help__container {
  background-color: $bg-secondary;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }
}
.help__img {
  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}
.help__content {
  padding: 5px 20px 25px;
  @media screen and (min-width: 768px) {
    padding: 0;
  }
}
.help__title {
  color: $text-primary;
  font-family: PermianSerifTypeface;
  font-size: 28px;
  max-width: 95%;
  @media screen and (min-width: 480px) {
    font-size: 40px;
  }
  @media screen and (min-width: 768px) {
    line-height: 90%;
    letter-spacing: -1px;
    max-width: 80%;
    margin-top: 15px;
  }
  @media screen and (min-width: 960px) {
    font-size: 52px;
    margin-top: 25px;
  }
  @media screen and (min-width: 1340px) {
    font-size: 64px;
  }
}
.help__desc {
  margin-top: 20px;
  color: $text-primary;
  font-size: 15px;
  font-weight: 500;
  line-height: 130%;
  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
  @media screen and (min-width: 768px) {
    max-width: 80%;
  }
  @media screen and (min-width: 1340px) {
    font-size: 22px;
    margin-top: 30px;
  }
}
.help__form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media screen and (min-width: 768px) {
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.help__label {
  display: flex;
flex-direction: column;
  @media screen and (min-width: 768px) {
    width: 40%;
  }
}
.help__input {
  font-size: 17px;
  padding: 16px 18px;
  outline: none;
  border: 1px solid #fff;
  transition: border-color $normal;
  &::placeholder {
    color: $text-tertiary;
    transition: color $normal;
    }
    &:hover,
    &:focus {
      border-color: $accent-color;
      &::placeholder {
        color: $accent-color;
      }
    }
}
.help__btn {
  margin-top: 5px;
  padding: 16px 0;
  @media screen and (min-width: 768px) {
    width: 60%;
    padding: 20px 0;
    white-space: nowrap;
    margin-bottom: 30px;
  }
}